html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #cfbfae3b;
}
@media (max-width : 760px) {
    .burger-details {
        display: flex;
        flex-wrap: wrap;
        width: 20rem
    }
    .order-table {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
}
.card {
    width: 15em;
}

.cards {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 2em;
    justify-content: center;
}

.index-page {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-wrap: wrap;
}
.checkbox-input {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-top:1em;
}
.form-burgers {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-bottom: 10em;
}
img{
    height:20em;
}
.form-extras {
    display: flex;
    flex-wrap: wrap;
    gap: 10em;
    justify-content: center;
}
.form-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quantity-form {
    margin-top:1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.location-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap:2em;
}
.buttons {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}
.order-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:2em;
}
.title {
    display: flex;
    justify-content: center;
    margin-bottom:1em;
}
.home-page {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
}
.time-inputs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top:1em;
    width:10em;

}
.form-search {
    display: flex;
    justify-content: flex-end;
}
.form-floating {
    display: flex;
    gap: 0.2em;
}
.burger-info{
    display:flex;
    gap:1em;
}
.burger-details-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.burger-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-new-burger-form {
    background-image: url("https://images.unsplash.com/photo-1595871213029-7476de0d71dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1069&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
}
.input-forms {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.extra-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:5em;
    gap:2em;
}
.location-order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.search-option {
    display: flex;
    gap: 1em;
    float: right;
}